body {
  background-color: floralwhite;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.app {
  padding: 30px;
}

/* .modal {
  width: 250px;
  height: 170px;
} */

.header {
  margin: 1em 0em 2em 0em;
  font-size: 2em;
  text-align: center;
}

.btn {
  width: 100px;
  background: rgb(12, 124, 251);
  font-size: 1em;
  border-radius: 5px;
  margin: 5px 5px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  color: white;
}

.tasks-conteiner {
  width: 80vw;
  margin: 20px auto;
  padding: 20px 10px;
}

.task-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid rgb(39, 109, 189);
  background: white;
  border-radius: 10px;
  padding: 1em;
  margin: 0.5em;
}

.task-header {
  display: flex;
  justify-content: center;
  margin: 5px auto;
  color: rgb(7, 29, 54);
  font-size: 1.4em;
  cursor: pointer;
}

.task-body {
  margin: 10px;
}

.task-body span {
  font-size: 1.2em;
  font-weight: bold;
}

.btn-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.create-task input[type=text] {
  margin: 2.5em 2em;
  width: 80%;
  outline: none;
  border: none;
  padding: 0.7em;
}
